@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background-color: #E5FCFF;
}

.navbar {
    background-color:#D1FEFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#logo_id {
    width:20rem;
    height:4.7rem;
    padding:1.5rem;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 25px;
}
  
.nav:hover {
    background: #004666;
    color: #ddd;
    animation: fadeInLoad .3s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#homeSection_id {
    padding: 5rem;
    margin-top: 3rem;
    background-color: lightgreen;
    color: #007029;
}

.home {
    background-color: #C2FFDA;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 50px;
    max-width:70rem;
}

.slideshow {
    max-width: 33rem;
}

.slides {
    opacity: 1.0;
    border-radius: 25px;
    margin-left:3rem;
    margin-right:3rem;
    width: 22rem;
}

#home1_id, #home2_id {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}

ul {
    padding: .5rem;
    margin: .25rem;
    border-radius: 50px;
    list-style-type: none;
}

h1 {
    font-size: 2rem;
    padding: .25rem;
}

h2 {
    font-size: 1.5rem;
    padding: .25rem;
}

i {
    padding-right: 1rem;
}

li {
    font-size: 1rem;
    padding: .5rem;
    margin-left: 2rem;
}

p {
    font-size: 1rem;
    padding: .25rem;
    line-height: 2;
}