@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background: url(art-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.navbar {
    background-color:#D1FEFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    opacity: .97;
}


#logo_id {
    width:15rem;
    
    padding:1.5rem;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 25px;
    transition: background .3s; -webkit-transition: background .3s; /* For Safari 3.1 to 6.0 */
    transition: color .3s; -webkit-transition: color .3s;
}
  
.nav:hover {
    background: #004666;
    color: #ddd;
}

#home_id {
    margin-top:5rem;
}

.home {
    background-color: rgba(141, 255, 107, 0.6);
    color: #005700;
}

.programs {
    background-color: rgba(107, 208, 255, 0.6);
    color: #0041B3;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0rem;padding: 0rem;
}

.bubble {
    margin: 2rem;
    padding: 2rem;
    border-radius: 50px;
    max-width:40rem;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
}

.slides {
    border-radius: 25px;
    max-width: 22rem;
    margin: 1rem;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 5rem;
    padding:0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-top:8rem;
    opacity: .9;

    padding: 2rem;
    border-radius: 15px 50px 15px;
    max-width:40rem;
    color: #004666;
}

h2 {
    font-size: 2rem;
    padding: 0rem;
}

h3 {
    font-size: 1.5rem;
    padding: 0rem; margin: 0rem;
}

i {
    padding-right: 1rem;
}

li {
    font-size: 1.1rem;
    padding: .5rem;
    margin-left: 2rem;
}

p {
    font-size: 1.15rem;
    padding: .25rem;
    line-height: 1.75;
    max-width: 90%;
}

span {
    font-size:2rem;
    padding:0rem; margin: 0rem;
}

main {
    background-color: rgba(255, 255, 255, 0.97);
    padding-left: 3rem;
    padding-right: 3rem;
}