@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar {
    background-color:rgb(236, 255, 255);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    opacity: .99;
    box-shadow:0px 0px 1vw grey; 
}

#navs_id {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    opacity: .99;
}

#logo_id {
    width:20vw;
    padding-left:3vw;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding: 1.4vw;
    text-decoration: none;
    font-size: 1.6vw;
    transition: color .5s; -webkit-transition: color .5s;
    transition: background-color .5s; -webkit-transition: background-color .5s;
}

#signIn_id {
    font-size: 1.6vw;
    color: purple;
    background-color: lightpink;
    padding-right: 2vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
}

#signOut_id {
    font-size: 1.6vw;
    padding-right: 4vw;
}
  
.nav:hover {
    color: #85d8ff;
    background-color:#004666;
}

.homeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0vw;
    margin-bottom: 6vw;
    border-radius: .5vw;
    background-size: cover;
}

.section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 0vw;
    margin-bottom: 3vw;
    border-radius: .5vw;
    background-size: cover;
    
}

.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0vw;
    margin-bottom: 3vw;
    border-radius: .5vw;
    max-width: 60vw;
}

.hList {
    padding-left: 4vw;
    padding-right: 4vw;
    margin:0vw;
    text-align: center;
    font-weight: bold;
}

.home {
    color:#1a1a1a;
    background-color: rgb(252, 252, 252);
    list-style-type: none;
}

.programs {
    background-color: rgb(199, 238, 255,1);
    color: rgb(31, 90, 190);
    
}

.parents {
    background-color: #ADFFF8;
    color: #0F5752;
}

.contact {
    background-color: rgb(224, 255, 199);
    color: rgb(46, 151, 25);
}

.blogColor {
    background-color: rgba(234, 199, 255, 1);
    color: rgb(132, 31, 190);
}

.bubble {
    margin: 1vw;
    padding: 1vw;
    border-radius: .8vw;
    max-width:55vw;
}

.quote {
    margin: 0vw;
    padding: 0 0 0 4vw;
    background: url(images/quote.png) no-repeat 0 3px;
    background-size: 6%;
    font-style: italic;
    font-size: 1.2vw;
    color: #777;
    min-height: 32px;
    line-height: 3vw;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
    margin-top: 2vw;
}

.icon {
    max-width: 10vw;
    padding: 3vw 3vw;
}

.slides {
    border-radius: .5vw;
    max-width: 30vw;
    margin: 1vw;
}

.gm {
    top: 0px; 
    height: 500px;
}

h1 {
    font-size: 5vw;
    padding:0vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    margin-top:10vw;
    opacity: .98;
    padding: 2vw;
    border-radius: .4vw;
}

h2 {
    font-size: 3vw;
    padding: 0vw;
    
}

h3 {
    font-size: 2vw;
    padding: 0vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

i {
    padding-right: 1vw;
    padding-left: 1vw;
}

li {
    font-size: 1.5vw;
    padding: .5vw;
    margin:0vw;
}

p {
    font-size: 1.5vw;
    padding: .25vw;
    line-height: 1.9;
    max-width: 65vw;
    word-wrap: break-word;
}

main {
    min-width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.learnMore {
    padding: 0vw; margin: 0vw;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.learnMore:hover {
    color: white;
}

.learnMore_drop {
    max-height:0px;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
    visibility: hidden;

    transition: background-color .5s; -webkit-transition: background-color .5s; /* For Safari 3.1 to 6.0 */
    transition: max-height .5s; -webkit-transition: max-height .5s;
}

.learnMore_drop.in {
    visibility: visible;
    max-height:1000px;
    border-radius: .8vw;
    padding: 1vw;
    margin: 1vw;
    animation: sweep .5s ease-in-out;
    font-size: 1.2rem;
    line-height: 2vw;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

#form_id {
    background-color: lightpink;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: .5vw;
}

.articleTitleEntry {
    width: 60vw;
    height: 4vw;
    font-size: 2vw;
    padding: 1vw;
    margin: .3vw;
    font-family: 'Lucida Sans';
}

.nameEntry {
    width: 60vw;
    height: 4vw;
    font-size: 2vw;
    padding: 1vw;
    margin: .3vw;
    font-family: 'Lucida Sans';
}

.textBox {
    width: 60vw;
    font-size: 1.15vw;
    font-family: 'Lucida Sans';
    padding: 1vw;
    border-radius: 0vw 0vw 1vw 1vw;
}

#send_id {
    font-size: 1.5vw;
    color: white;
    padding: 1vw;
    margin: 1vw;
    border-radius: .5vw;
    border: 1px solid white;
    width: 60vw;
}

#blogList_id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60vw;
    border-radius: .5vw;
    background-color: rgb(249, 248, 255);
    color: #4600B8;
    max-height: 60vw;
    overflow-y: scroll; 
}

.articleTitle {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    
}

.date {
    font-size: 1.2vw;
    padding-bottom: 1vw;
}

.displayName {
    font-size: 1.2vw;
    padding-bottom: 2vw;
}

.body {
    font-size: 1.15vw;
    line-height: 2vw;
    word-spacing: .2vw;
    overflow-wrap: break-word;
    display: table-row;
}

#blog_entry_id {
    margin-left: 5vw;
    margin-top: 4vw;
    max-width: 50vw;
    display: none;
}

.blog-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
}

.admin-only {
    display: none;
}

.delete {

}