@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background: url(art-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.navbar {
    background-color:#D1FEFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    opacity: .99;
    box-shadow:0px 0px .2vw grey; 
}


#logo_id {
    width:20vw;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding: 1.15vw;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.6vw;
    transition: color .5s; -webkit-transition: color .5s;
    transition: background-color .5s; -webkit-transition: background-color .5s;
}
  
.nav:hover {
    color: #85d8ff;
    background-color:#004666;
}

.home {
    background-color: rgba(197, 255, 180, 0.9);
    color: #005700;
}

.programs {
    background-color: rgba(199, 238, 255, 0.9);
    color: rgb(31, 90, 190);
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150vw;
    width: 100vw;
    margin: 0vw;padding: 0vw;
    
}

.bubble {
    margin: 2vw;
    padding: 2vw;
    border-radius: .8vw;
    max-width:55vw;
    box-shadow:.2vw .2vw .2vw #5f9fbd; 
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
}

.slides {
    border-radius: .5vw;
    max-width: 22vw;
    margin: 1vw;
    box-shadow:.2vw .2vw .2vw #538ba5; 
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 5vw;
    padding:0vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    margin-top:8vw;
    opacity: .9;

    padding: 2vw;
    border-radius: .4vw;
    max-width:40vw;
    color: #004666;
    background-color: rgb(236, 236, 236);
    box-shadow:.2vw .2vw .2vw gray; 
}

h2 {
    font-size: 2.5vw;
    padding: 0vw;
}

h3 {
    font-size: 2vw;
    padding: 0vw; margin: 0vw;
    
}

i {
    padding-right: .5vw;
}

li {
    font-size: 1.5vw;
    padding: .5vw;
}

p {
    font-size: 1.5vw;
    padding: .25vw;
    line-height: 1.75;
    max-width: 90%;
}

span {
    font-size:2vw;
    padding:0vw; margin: 0vw;
}

main {
    background-color:rgba(146, 250, 255, 0.82);
    padding-left: 3vw;
    padding-right: 3vw;
}

.learnMore {
    font-size: 1.5vw;
    padding: 0vw; margin: 0vw;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.learnMore_drop {
    max-height:0px;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
    visibility: hidden;

    transition: background-color .5s; -webkit-transition: background-color .5s; /* For Safari 3.1 to 6.0 */
    transition: max-height .5s; -webkit-transition: max-height .5s;
}

.learnMore_drop.in {
    visibility: visible;
    max-height:1000px;
    background-color: rgba(93, 183, 224, 0.6);
    border-radius: .8vw;
    padding: .75vw;
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }