@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
    margin: 0vw;
    padding: 0vw;
}

body {
    padding: 0vw;
    margin: 0vw;
    width: 100vw;
    overflow-x: hidden;
    margin:0vw;
    top: 0vw;
    padding: 0vw;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100vw;
}

main {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    overflow-x: hidden;
    margin: 0vw;
    padding: 0vw;
    overflow-x: hidden;
}

.navbar {
    background-color:rgb(236, 255, 255);
    overflow-x: hidden;
    position: fixed;
    top: 0vw;
    left: 0vw;
    margin: 0vw;
    padding: 0vw;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    box-shadow:0px 0px 1vw grey;
    text-align: center;
}

#navs_id {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
}

#logo_id {
    width:80vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.nav {
    float: left;
    color: #004666;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    font-size: 4.2vw;
    transition: opacity .3s; -webkit-transition: opacity .3s;
    height: 4vw;
    width: 20vw;
    cursor: pointer;
}

#signIn_id {
    padding-right: 2vw;
}

.avatar {
    padding: 0vw;
    margin: 0vw;
    height: 8vw;
    transition: opacity .3s; -webkit-transition: opacity .3s;
}

.homeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0vw;
    margin-top: 30vw;
    margin-bottom: 6vw;
    border-radius: .5vw;
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0vw;
    margin-bottom: 3vw;
    border-radius: .5vw;
    background-size: cover;
    left: 0vw;
    overflow-x: hidden;
}

.slides {
    max-width: 35vw;
    margin: 2vw;
    padding: 0vw
}

.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0vw;
    margin-bottom: 3vw;
    border-radius: .5vw;
    max-width: 80vw;
    overflow-x: hidden;
}

.home {
    color:#1a1a1a;
    background-color: rgb(252, 252, 252);
    list-style-type: none;
}

.programs {
    background-color: rgb(174, 237, 253);
    color: rgb(31, 90, 190);
}

.parents {
    background-color: #ADFFF8;
    color: #0F5752;
}

.contact {
    background-color: rgb(224, 255, 199);
    color: rgb(46, 151, 25);
}

.blogColor {
    background-color: rgb(226, 176, 255);
    color: rgb(132, 31, 190);
}

.signIn {
    color: purple;
    background-color: pink;
}

.bubble {
    margin: 3vw;
    padding: 2vw;
    border-radius: .8vw;
    max-width:80vw;
    align-items: center;
    justify-content: center;
}

.quote {
    margin: 0vw;
    padding: 0 0 0 10vw;
    background: url(images/quote.png) no-repeat 0 3px;
    background-size: 12%;
    font-style: italic;
    font-size: 5.5vw;
    color: #777;
    min-height: 32px;
    line-height: 10vw;
}

.slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    opacity: .99;
    margin-top: 2vw;
}


#homeTree_id {
   width: 70vw;
   margin: 0vw;
   padding: 0vw;
}

h1 {
    font-size: 15vw;
    padding:0vw;
    margin-bottom: 6vw;
    padding-bottom: 0vw;
    margin-top:40vw;
    padding: 2vw;
}

h2 {
    font-size: 8vw;
    line-height: 10vw;
    padding: 0vw;
    text-align: center;
}

h3 {
    font-size: 6vw;
    line-height: 8vw;
    padding: 0vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

#future_id {
    margin-left: 15vw;
}

i {
    padding-right: 1vw;
}

li {
    font-size: 4.6vw;
    padding: 1vw;
    margin:0vw;
    line-height: 8vw;
}

p {
    font-size: 4.6vw;
    padding: .25vw;
    line-height: 2.5;
    max-width: 80vw;
    word-wrap: break-word;
}


.learnMore {
    margin: 0vw;
    background-color: rgb(210, 243, 255);
    border-radius: .5vw;
    width: 60vw;
    text-align: center;
    padding: .4vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.learnMore:hover {
    color: white;
}

.learnMore_drop {
    max-height:0px;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
    visibility: hidden;

    transition: background-color .5s; -webkit-transition: background-color .5s; /* For Safari 3.1 to 6.0 */
    transition: max-height .5s; -webkit-transition: max-height .5s;
}

.learnMore_drop.in {
    visibility: visible;
    max-height:1000px;
    border-radius: .8vw;
    padding: 1vw;
    margin: 1vw;
    animation: sweep .5s ease-in-out;
    font-size: 4vw;
    line-height: 6vw;
    background-color: rgb(184, 235, 255);
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

#mathTree_id {
    max-width:90vw;
    margin: 1vw;
    padding: 1vw;
    transition: max-width .5s; -webkit-transition: max-width .5s;
}

#readingTree_id {
    max-width:90vw;
    margin: 1vw;
    padding: 1vw;
    transition: max-width .5s; -webkit-transition: max-width .5s;
}

#form_id {
    background-color: lightpink;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: .5vw;
}

.articleTitleEntry {
    width: 60vw;
    height: 3vw;
    font-size: 2.5vw;
    padding: .4vw;
    margin: .3vw;
    font-family: 'Lucida Sans';
}

.nameEntry {
    width: 60vw;
    height: 2vw;
    font-size: 1.5vw;
    padding: .4vw;
    margin: .3vw;
    font-family: 'Lucida Sans';
}

.textBox {
    width: 60vw;
    font-size: 1.15vw;
    font-family: 'Lucida Sans';
    padding: .4vw;
    margin: .3vw;
    border-radius: 0vw 0vw 1vw 1vw;
}

#send_id {
    font-size: 1.5vw;
    color: white;
    padding: 1vw;
    margin: 1vw;
    border-radius: .5vw;
    border: 1px solid white;
    width: 60vw;
}

#blogList_id {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70vw;
    border-radius: .5vw;
    background-color: rgba(234, 199, 255, 1);
    color: #4600B8;
    max-height: 100vw;
    overflow-y: scroll;
    margin-bottom: 5vw;
}

.articleTitle {
    font-size: 6vw;
    margin-bottom: 2vw;
    line-height: 7vw;
}

.date {
    font-size: 4.5vw;
    padding-bottom: 2vw;
    
    text-align: center;
}

.displayName {
    font-size: 4.5vw;
    padding-bottom: 2vw;
}

.body {
    font-size: 4.2vw;
    line-height: 6vw;
    word-spacing: .2vw;
    overflow-wrap: break-word;
    display: table-row;
}

#blog_entry_id {
    margin-left: 5vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
    max-width: 70vw;
    display: none;
}

.blog-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1vw;
}

.admin-only {
    display: none;
}

.delete {
    background-color: pink;
}
